* {
    font-family: 'Poppins';
}

nav.navbar-3,
nav.navbar-1.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background: #163652!important;
    height: 40px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

a.carousel-control-next.w-auto .rounded-circle {
    border-radius: 0!important;
}

.bg-dark {
    background-color: initial!important;
}

.border,.border-dark{
    border-color: initial!important;
    border: initial!important;
}


nav.navbar-2 a.nav-link {
    color: #6d6d6d!important;
    font-weight: 600;
}

.mx-auto.my-2.order-0.order-md-1.position-relative {
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-dark .navbar-toggler-icon {
    background: url(../images/icono-hamburgesa.png);
    background-size: cover;
    background-repeat: no-repeat;
}

img.preguntas.img-fluid.img-thumbnail {
    border: none;
}

img.imagen-4.preguntas.img-fluid.img-thumbnail {
    margin-top: -30%!important;
    width: 60px;
}

li.nav-item.general {
    width: 110px;
    text-align: center;
}

a.nav-link.pc {
    background: #163652!important;
    height: 40px;
    color: #fff;
    border-bottom-left-radius: 100px;
}

a.nav-link.movil {
    border-left: 1px solid;
    background: #163652!important;
    color: #fff;
    height: 40px;
    border-bottom-right-radius: 100px;
}

img.imagen-personalizada {
    width: 25px;
}

footer {
    background: #163652!important;
    color: #fff;
    padding: 10px;
}

a.btn.boton-enviar.btn-default {
    background: #ab60e0;
    border-radius: 20px;
    color: #fff;
}

button.btn.boton-enviar.btn-default {
    background: #ab60e0;
    border-radius: 20px;
    color: #fff;
}

nav.navbar-3.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    width: 20%;
    left: 40%;
}

nav.navbar-3 ul.navbar-nav.ml-auto.text-center {
    margin: auto!important;
}

li.nav-item.movil {
    border-left: 1px solid #fff;
}

nav.navbar-3 li.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

a.mx-auto img {
    width: 80px!important;
    margin-top: -56px!important;
    background: #fff;
    padding: 10px;
}

div.div-general {
    box-shadow: 0 8px 6px -6px grey;
}

@media (min-width: 992px) {
    .navbar-2.mx-auto.my-2.order-0.order-md-1.position-relative,
    .navbar-2.navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 60px;
        padding-left: 60px;
    }
}

@media (max-width: 991px) {
    img.imagen-4.preguntas.img-fluid.img-thumbnail {
        margin-top: -20%!important;
        width: 54px;
    }
}

@media (max-width: 768px) {

    .carousel-inner .carousel-item>div {
        display: none;
    }
    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px){
    .mx-auto.my-2.order-0.order-md-1.position-relative a.mx-auto.logo img.rounded-circle {
        margin-left: -100px;
    }
}

@media (max-width: 767px) {
    .carousel-item{
        display: block!important;
        float: none;
    }

    .carousel-item {
        padding-bottom: 30px;
    }

    a.carousel-control-prev.w-auto,a.carousel-control-next.w-auto {
        display: none;
    }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}


/* display 3 */

@media (min-width: 768px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }
    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}

.card.card-body {
    padding: 0!important;
    border: none!important;
}

.btn-link:hover {
    color: #fff!important;
    text-decoration: none!important;
}

.btn-info {
    background: #163652!important;
}

input.previous.btn.btn-default {
    border: 2px #163652 solid;
}

.btn-success {
    color: #fff;
    background-color: #ab60e0;
    border: 2px #ab60e0 solid;
}

div.card-header {
    background: #163652!important;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.btn-link:focus {
    box-shadow: none;
}

.card {
    border-radius: .25rem;
}

.btn-link {
    color: #fff;
    text-align: left;
}

#regiration_form fieldset:not(:first-of-type) {
    display: none;
}

.bg {
    background-image: url("/landing/images/banner2.png");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

textarea.form-control {
    height: 250px;
}

@media only screen and (min-width: 1601px) {
    img.img-fluid.pb-5.imgResp {
        padding-top: 60px;
    }
}

.carousel-control-next-icon {
    background-image: url(../images/icon-next-png.png);
    width: 30px;
    height: 30px;
}

.carousel-control-prev-icon {
    background-image: url(../images/icon-previous-png.png);
    width: 30px;
    height: 30px;
}

@media only screen and (min-width: 1367px) and (max-width: 1600px) {
    img.img-fluid.pb-5.imgResp {
        padding-top: 40px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
    img.img-fluid.pb-5.imgResp {
        padding-top: 50px;
    }
}

@media only screen and (min-width: 240px) and (max-width: 991px) {
    img.img-fluid.pb-5.imgResp {
        padding-top: 0px;
    }
}   

@media only screen and (min-width: 768px){
    #form_login {
        margin-left: 40px;
    }
}   

@media only screen and (max-width: 768px){
    #form_login {
        margin: 10px;
    }
    .btnRsp{
        display: flex;
        justify-content: center;
    }
}

.btn-rh{
    background-color: #163652; 
    border-color: #163652
}

.color-rh{
    color: #163652; 
}

.alertas{
    color: red;
    font-size: 13px;
}
a{
    color: inherit;
}

jdiv#jvlabelWrap {
  display: none !important;
}

.wrap_12d7._orientationRight_ac72.__jivoMobileButton{
    display: none;
}

.form-inline.diaAgenda.form-control.input{
    width: 180px !important;
    max-width: 180px !important;
}

.form-control.form-control-sm.ml-1.flatpickr-input.flatpickr-mobile{
    width: 180px !important;
    max-width: 180px !important;
}

@media only screen and (max-width: 991px){
    .logo{
        width: 100px !important;
        max-width: 100px !important;
        margin-right: 10px;
    }
}

.dropdown-menu.show{
    left: 70%;
}

.modal-header{
    padding-bottom:3px;
    padding-top:10px;
    background: #163552;
    color: #f8f9fa
}
.modal-title{
    font-size:14px;
}

.btn-second-rh{
    background-color: #ab60e0;
    border-color: #ab60e0;
}

.btn-second-rh:hover {
  background-color: #9C3CE0;
  border-color: #9C3CE0;
}